body {
   background-image: url('../images/recipes.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}

#card-hover:hover {
   /*background-color: green;*/
   /*background-image: url("../images/9.jpg");*/
   background-image: url("../images/17.jpg");
   color: white;
   font-weight: bolder;
}

