body {
   background-image: url('../images/background.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}

.navbar_background {
	background-image: url('../images/6.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-weight: bold;
}

/* change the highlight on the active menu item */
.active {
   background-image: url('../images/5.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}

/* Card Headers */
.section_header {
	background-image: url("../images/1.jpg");
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Card Bodies */
.section_body {
	background-image: url('../images/14.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Level 2 Card Headers */
.card_header {
	background-image: url("../images/10.jpg");
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background-size: 100% 100%;
}

/* Block Headers */
.block_header { 
	background-image: url("../images/birch.jpg");
	font-weight: bold;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

/* Block Headers */
.sub_block_header { 
	/*background-image: url("../images/birch.jpg");*/
	font-weight: bolder;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.card-footer {
	color: white;
}

.table-hover tbody tr:hover, .table-hover tbody tr:hover th {
	background-image: url("../images/9.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.table thead {
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}
